.App{
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
}

p {
    font-weight: bold;
    font-family: sans-serif;
}

h4 {
    font-weight: bold;
}