.footer {
    display: flex;
}

p {
    font-size: medium;
    font-weight: bold;
    color: rgb(136, 132, 132);
}

.icon {
    color: black;
    background-color: whitesmoke;
    border-radius: 50%;
    font-weight: bold;
    
}
.Web{
    text-align: center;
}
.a{
    text-align: center;
}
p:hover{
    color:whitesmoke;
}